h1,
p {
  font-family: Lato;
}

.flex-inline {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 4px 16px;
  border: #ccc solid 1px;
  border-radius: 16px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item {
  border-bottom: solid #ccc 1px;
  display: flex;
  flex-direction: row;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.highlighted {
  border-color: blueviolet;
  color: blueviolet;
}

.primary-text {
  font-weight: bold;
  color: black;
  font-size: 14px;
  line-height: 4px;
}

.secondary-text {
  color: #ccc;
  font-size: 12px;
  line-height: 0px;
}

.description {
  padding-left: 16px;
}

img {
  height: 36px;
  border-radius: 8px;
  margin-right: 8px;
}
